@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Poppins&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}

body::-webkit-scrollbar {
    width: 10px;
}

body::-webkit-scrollbar-thumb {
    background-color: #b6b6b6;
    border-radius: 10px;
    border-radius: 3px solid black;
}

body::-webkit-scrollbar-track {
    background-color: #dadada;
}

#page1 {
    height: 100vh;
    margin-bottom: 10vh;
}

#page1_nav {
    display: flex;
    justify-content: space-between;
    padding: 1.3rem 5rem;
}

#logo {
    width: 200px;
}

@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Poppins&display=swap');

#logo:hover {
    cursor: pointer;
}

#page1_nav>ul {
    display: flex;
    list-style: none;
    align-items: center;
    justify-content: center;

}

#page1_nav>ul>li {
    padding-left: 1.3em;
}

#page1_nav>ul>li>a {
    text-decoration: none;
    color: black;
    font-weight: 500;
    font-size: 1.4rem;
}

#page1_nav>ul>li>a:hover {
    border-bottom: 3px solid black;
    transition: all .05s;
}

#page1-main-container {
    /* background: red; */
    display: flex;
}

#page1-main-container>.left {
    width: 50%;
    position: absolute;
    left: 0;
    font-family: 'Josefin Sans', sans-serif;
    min-height: 88vh;
    font-size: 1.75rem;
    text-align: left;
    display: flex;
    padding-left: 1.8em;
    justify-content: center;
    /* align-items: center; */
    line-height: 1.2;
    flex-direction: column;
    /* background: rgb(129, 180, 129); */
}

#page1-main-container>.left>h5 {
    font-size: .6em;
    font-weight: 200;
    padding-top: .5em;
}

#read-docs {
    padding: 10px 20px;
    width: 200px;
    margin-top: 0.8em;
    border-radius: 50px;
    border: 2px solid black;
    background-color: #000;
    font-size: .57em;
    font-weight: 500;
    color: white;
    transition: all .1s;
}

#read-docs:hover {
    cursor: pointer;
    /* background-color: #e8e8e8; */
    border: 2px solid #fff;
}

#page1-main-container>.right {
    width: 49%;
    min-height: 88vh;
    /* background: green; */
    position: absolute;
    right: 0;
    display: flex;
    align-items: center;
}

#page1-main-container>.right>img {
    width: 95%;
    border-radius: 5px;
}


#navbar::-webkit-scrollbar {
    width: 10px;
}

#navbar::-webkit-scrollbar-thumb {
    background-color: #b6b6b6;
    border-radius: 10px;
    border-radius: 3px solid black;
}

#navbar::-webkit-scrollbar-track {
    background-color: #dadada;
}

#main-doc::-webkit-scrollbar {
    width: 10px;
}

#main-doc::-webkit-scrollbar-thumb {
    background-color: #b6b6b6;
    border-radius: 10px;
    border-radius: 3px solid black;
}

#main-doc::-webkit-scrollbar-track {
    background-color: #dadada;
}

#navbar {
    position: absolute;
    /* left:0; */
    width: 20%;
    /* background: red; */
    height: 100vh;
    overflow: auto;
}

#navbar>header {
    font-size: 3.5em;
    text-align: center;
    padding: .4em 0;
    border-bottom: 2px solid #ccc;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 500;
}

#navbar>.links {
    display: flex;
    flex-direction: column;
}

#navbar>.links>a {
    text-decoration: none;
    color: rgb(90, 90, 90);
    padding: .65em 0 .65em .7em;
    border-bottom: 2px solid #ccc;
    font-weight: 500;
    font-size: 1.17em;
}

#navbar>.links>a:hover {
    background: #e6e6e6;
}

#main-doc {
    position: absolute;
    width: 80%;
    right: 0;
    height: 100vh;
    overflow: auto;
    border-left: 4px solid #ccc;
}

.main-section {
    padding-left: 2em;
}

.main-section>header {
    font-size: 2.4em;
    /* background: red; */
    padding: .3em 0;

}

.main-section>article {
    padding-left: 1em;
    color: rgb(90, 90, 90);
}

.main-section>article>ul {
    margin: 1em 3em;
}

.main-section>article>ul>li {
    margin: 1em 0;
}

.main-section>article>code>p {
    position: relative;
    margin: 1em 0;
    font-family: monospace;
    padding: 1em 1.5em;
    background-color: #e6e6e6;
    width: 90%;
    /* border-radius: 5px; */
}

.main-section>article>ul>li>ul {
    margin: 1em 3em;
}

/*          Responsive design           */

@media (max-width: 1579px) {
    #page1-main-container>.left>h1 {
        font-size: 1.5em;
    }

    #page1-main-container>.left>h5 {
        font-size: .4em;
    }

    #read-docs {
        padding: 7px 14px;
    }

    #navbar>header {
        font-size: 2.8em;
    }
}

@media (max-width: 1189px) {
    #page1-main-container>.left>h1 {
        font-size: 1em;
    }

    #page1-main-container>.left>h5 {
        font-size: .3em;
    }

    #read-docs {
        padding: 4px 8px;
        font-size: .4em;
        width: 150px;
    }

    #navbar>header {
        font-size: 2em;
    }

    #navbar>.links>a {
        font-size: 1em;
    }
}

#nav-check{
    display: none;
}

@media(max-width: 935px) {
    #page1_nav>ul {
        box-sizing: border-box;
        position: fixed;
        display: flex;
        height: calc(100vh - 90px);
        width: 100vw;
        background-color: rgb(127, 255, 212);
        bottom: 0;
        left: -100%;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        z-index: 999;
        transition: all .3s;

    }

    #logo {
        width: unset;
        height: 60px;
        margin: auto;
        display: inline-block;
    }

    #page1_nav {
        padding: 15px 0;
        position: fixed;
        z-index: 999;
        width: 100vw;
        background-color: #fff;

    }

    #page1_nav>ul>li {
        display: block;
        padding: 20px 0;
        text-align: center;

    }
    #page1_nav>ul>li>a{
        font-size: 2em;
        font-weight: 500;
        
    }
    .ri-menu-line{
        font-size: 60px;
        margin-right: 20px;
    }
    #nav-check:checked~#nav-ul {
        left: 0;
    }
}